<div id='body_frame'>

<%= form_tag :controller => 'welcome', :action => 'call_create_api' do %>
<h3>Create your own room:</h3>

<blockquote>
<div id='input_frame'>
    <div id='input_name'>
        Chat Room Name:
    </div>
    <div id='input_field'>
        <%= text_field_tag 'channel_name' %>
    </div>
</div>
</blockquote>

<h3>Room Setting:</h3>
<blockquote>
<div id='input_frame'>
    <div id='input_name'>
        URL:
    </div>
    <div id='input_field'>
        <%= text_field_tag 'website_url' %>
    </div>
</div>

<div id='input_frame'>
    <div id='input_name'>
        URL:
    </div>
    <div id='input_field'>
        <%= text_field_tag 'website_url' %>
    </div>
</div>

<div id='input_frame'>
    <div id='input_name'>
        Moderated:
    </div>
        <%= radio_button 'moderate', 'true_false', 'yes' %>Yes
        <%= radio_button 'moderate', 'true_false', 'no', :checked => 'checked' %>No
    <div id='input_field'>
    </div>
</div>

<div id='input_frame'>
    <div id='input_name'>
        User limit:
    </div>
    <div id='input_field'>
        <%= select "limit", "count", ['100', '1000', '10000'] %>
    </div>
</div>
<%= image_submit_tag 'create.png' %>

</blockquote>
<% end %>

</div>
