<%= form_tag :controller => 'welcome', :action => 'call_create_api' do %>
<div id='create-channel-frame'>
<h1>Create your own room:</h1>
<h2>Chat Room Name: <%= text_field_tag 'channel_name', nil, :class => 'input' %><h2>

<h1>Room setting:</h1>
<h2>URL: <%= text_field_tag 'website_url', nil, :class => 'input' %></h2>
<h2>Moderated: <%= radio_button 'moderate', 'true_false', 'yes' %>Yes
               <%= radio_button 'moderate', 'true_false', 'no', :checked => 'checked' %>No</h2>
<h2>User limit:<%= select "limit", "count", ['100', '1000', '10000'] %></h2>
<div id='image_container'>
    <%= image_submit_tag 'create.png' %>
</div>

</div>

<% end %>

