<div id='talk-plus-panel'>
    <div id='powered-by'>
        powered by &nbsp
    </div>
    <div id='logo-small'>
        <%= link_to image_tag('/stylesheets/images/logo_panel.png'), :action => 'index' %>

    </div>
    <div id='create-own'>
        <%= link_to "try to embeded a chat room?", '/auth/facebook', {:style=>'color:#ffffff'} %>
    </div>


</div>

<div id="talk-plus-iframe-wrap">
  <iframe src= <%= @embeded_link %>>
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>

<link type="text/css" rel="stylesheet" media="screen" href="/css/main.css">
<script src='/hotass.js?channel_id=<%= @channel_id %>&channel_name=<%= @channel_name %>'></script>

