<div id="description">
    <h2>Let's Talk now!</h2>
    <p>talk+ is a platform to talk about a hot topic with anyone.</p>
</div>

<div id="url-input">
    <%= form_tag :controller => 'welcome', :action => 'embeded_website' do %>
        <span>try talk+ on:</span>
        <span class="input-background">
            <%= text_field_tag 'outside_link', nil, :class => "input" %>
        </span>
        <%= submit_tag 'GO', :class => "sumbit" %>
    <% end %>
</div>

<div id="tutoral">
    <div class="images">
        <%= image_tag("tutoral.png") %>
        <%= image_tag("tutoral.png") %>
        <%= image_tag("tutoral.png") %>
    </div>
    <div class="explain">
        <span>create</span>
        <span>share</span>
        <span>talk</span>
        <%= link_to image_tag("learn_more.png"), :action => 'learn_more' %>
    </div>
</div>

<div id="buttons">
    <%= link_to image_tag("create_user.png"), '/auth/facebook' %>
    <%= link_to image_tag("talk_now.png"), :action => 'view_all_channels' %>
</div>
