<div id="description">
    <h2>Let's Talk now!</h2>
    <p>talk+ is a platform to talk about a hot topic with anyone.</p>
</div>

<div id="url-input">
    <%= form_tag :controller => 'welcome', :action => 'embeded_website' do %>
        <span>try talk+ on:</span>
        <span class="input-background">
            <%= text_field_tag 'outside_link', "http://taipei.startupweekend.org/", :class => "input" %>
        </span>
        <%= submit_tag 'GO', :class => "sumbit" %>
    <% end %>
</div>

<div id="description-buttons">
    <%= link_to "Your Talks", '/auth/facebook', :class => "link-button" %>
    <%= link_to "Top Talks", '/welcome/view_all_channels', :class => "link-button" %>
    <%= link_to "On Android", "http://dl.dropbox.com/u/26793275/TalkPlus.apk", :class => "link-button" %>
    <%= link_to "Learn More", '/welcome/learn_more', :class => "link-button" %>
</div>

<%= image_tag("3_steps.png", :class => "steps") %>
