<div id='user-profile'>
    <div class='profile-photo'>
        <%= user_large_photo(@user.uid) %>    
        <%= @user.name %>
    </div>
</div>

<table id="manage-table">
    <caption>Manage your chatroom:</caption>
    <tr>
        <th>Chat Room</th>
        <th></th>
        <th>Users</th>
        <th>Copy Code</th>
    </tr>
<% @channels.each_with_index do |channel, i| %>
    <tr>
        <td><%= channel.name %></td>
        <td>
        <%= link_to image_tag('delete_channel.png', :width => '40', :alt => "刪除"), :action => 'delete_channel', :channel_id => channel.id %></td>
        <td><%= @count[i] %></td>
        <td>
            <textarea><link type="text/css" rel="stylesheet" media="screen" href="http://www.talkpl.us/css/main.css"><script src='http://www.talkpl.us/hotass.js?channel_id=<%= channel.id %>&channel_name=<%= channel.name %>'></script>
            </textarea>
        </td>
    </tr>
<% end %>
</table>

<div id="mamage-buttons">
    <%= link_to "add new chatroom", :action => 'create_channel' %>
</div>



