<div id='user-profile'>
    <div class='profile-photo'>
        <%= user_large_photo(@user.uid) %>    
        <%= @user.name %>
    </div>
</div>

<table id="manage-table">
    <caption>Manage your chatroom:</caption>
    <tr>
        <th>Chat Room</th>
        <th></th>
        <th>Users</th>
    </tr>
<% for i in (0..(@channels.length-1)) %>
    <tr>
        <td><%= @channels[i].name %></td>
        <td>
        <%= link_to image_tag('delete_channel.png', :width => '40', :alt => "刪除"), :action => 'delete_channel', :channel_id => @channels[i].id %></td>
        <td><%= @count[i] %></td>
    </tr>
<% end %>
</table>

<div id="mamage-buttons">
    <%= link_to "add new chatroom", :action => 'create_channel' %>
</div>



