<!DOCTYPE html>
<html>
  <head>
    <%= render_page_title(@page_title) %>
    <%= csrf_meta_tags %>
    <link href="http://www.talkpl.us/images/talk_plus.png" rel="image_src"> 
    <meta property='og:image' content='http://www.talkpl.us/images/talk_plus.png'> 
    
    <%= stylesheet_link_tag "reset",
                            "application",
                            :cache => "all" %>
    <link type="text/css" rel="stylesheet" media="screen" href="/css/main.css">
  </head>
  <body>
    <div id="container">
        <div id='main'>
            <h1><%= render_h1(@page_title) %></h1>
            <%= yield %>
        </div>
    </div>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'></script>
    <script src='http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js'></script>
    <script src='http://datejs.googlecode.com/svn/trunk/build/date.js'></script>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25126274-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>