<!DOCTYPE html>
<html>
<head>
    <%= render_page_title(@page_title) %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
<div id='main_frame'>
<center>
    <%= image_tag("LOGO.png", :width => '250')%><br>
</center>
    <%= yield %>
</div>
</body>
</html>
